/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Raleway:300,400");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";
$navbar-font: 'Raleway', "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// OpenLoge Color Scheme
//Search, create buttons, flash messages, CTA, etc.
$major-action-color: #FF4B3E;
//cancel button, links, minor messages, etc.
$minor-action-color: #4F556B;
//detail: borders, shadow, etc.
$detail-color: lighten(#000, 46.7%); // #777
//background color
$bg-color: rgb(250,250,250);
$bg-color-transparent: rgba(250,250,250,0.8);

// Scheme
$red: #EE5F5B;
$blue: $major-action-color;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;

//Facebook Connect
$facebook: #45619D;
$facebook-hover: #4568B2;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

