#bg-home {
  position: relative;
  background-image: url("Photo_home.jpg");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px darken($minor-action-color, 40%);
  margin-top: 0px;
  h3 {
    font-family: $header-font;
    font-size: 32px;
    margin-bottom: 30px;
  }
  h4 {
    font-family: $base-font;
    font-size: 20px;
    font-weight: 300;
  }
}


.filter-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darken($minor-action-color, 10%);
  opacity: 0.6;
}
