#bg-home {
  text-align: center;
  color: white;
  padding-top: 12em;
  text-shadow: 1px 1px 2px darken($minor-action-color, 40%);
  h3 {
    font-family: $header-font;
    font-size: 32px;
    margin-bottom: 1em;
  }
  h4 {
    font-family: $base-font;
    font-size: 20px;
    font-weight: 300;
  }
}

body {
  background-image: image-url('Photo_home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.bg-visitor {
  position: relative;
  text-align: center;
  padding-top: 10em;
}

#user_input_autocomplete_address {
  border-radius: 5px 0px 0px 5px;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

@media screen and (max-width: 768px)
{
  #user_input_autocomplete_address {
    border-radius: 3px 3px 3px 3px;
  }
  .bg-visitor {
  padding-top: 4em;
  }
}
