<%- resource_class.omniauth_providers.each do |provider| %>
  <div class="facebookConnect">
  <%= link_to omniauth_authorize_path(resource_name, provider) do %>
    <i class="fa fa-facebook"></i>Se connecter avec Facebook
  <% end %>
  </div>
<% end -%>
