// Your footer style
#footer {
  background: #3F405E;
  color: white;
  min-height: 50px;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  text-align:center;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  transition: background 0.4s ease;
}

#social-links {
  letter-spacing: 1em;
  font-size: 1.5em;
}

#bottom-of-footer {
  font-size: smaller;
  font-size: "Open Sans";
  h6 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  p {
    font-weight: lighter;
  }
}

@media screen and (max-width: 768px)
{
  #footer {
    font-size:verysmall;
    padding: 0;
  }
}
