/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-color {
  background: $bg-color;
}
.bg-color-transparent {
  background: $bg-color-transparent;
}
.bg-major-action-color {
  background: $major-action-color;
  color: white;
}
.bg-minor-action-color {
  background: $minor-action-color;
  color: white;
}
.bg-detail-color {
  background: $detail-color;
}

.card {
  margin:1em;
  padding:1em;
}

.gray-card {
  margin:1em;
  padding:1em;
  background-color:rgba(100,100,100,0.85);
  width: auto;
}

.right-border {
  border-right:1px solid white;
}

.btn-100 {
  width:100%
}

.margined-navbar {
  margin-top:3em;
}

.field-margined-bottom {
  margin-bottom:1em;
}

.font-very-small {
  font-size: 10px;
}

.img-profile {
  height:90px;
  border:1px solid $major-action-color;
  border-radius:50%
}

.link-unstyled {
  text-decoration:none;
  color:black;
}

.text-major-action-color{
  color: $major-action-color;
}

.filter-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darken($minor-action-color, 10%);
  opacity: 0.6;
}

#expert-description {
  font-weight: normal;
  font-size: 14px;
  text-align: justify
}
