/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-color {
  background: $bg-color;
}
.bg-color-transparent {
  background: $bg-color-transparent;
}
.bg-major-action-color {
  background: $major-action-color;
  color: white;
}
.bg-minor-action-color {
  background: $minor-action-color;
  color: white;
}
.bg-detail-color {
  background: $detail-color;
}

.card {
  margin:1em;
  padding:1em;
}

.btn-100 {
  width:100%
}

.margined-navbar {
  margin-top:3em;
}
