/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-color {
  background: $bg-color;
  color:#555555
}
.bg-color-white {
  background: $bg-color-white;
}
.bg-major-action-color {
  background: $major-action-color;
  color: white;
}
.bg-minor-action-color {
  background: $minor-action-color;
  color: white;
}
.bg-detail-color {
  background: $detail-color;
}

.card {
  margin-top:1em;
  margin-bottom:1em;
  margin-left:1em;
  margin-right:1em;
  padding:1em;
  border-radius: 2px;
}

.card2 {
  margin:1.5em;
  padding:1.5em;
  height:auto;
}

.gray-card {
  margin:1em;
  padding:1em;
  background-color:rgba(100,100,100,0.85);
  width: auto;
  color: white;
}

.white-card {
  margin:1em;
  padding:1em;
  background-color:white;
  width:auto;
}

.right-border {
  border-right:1px solid white;
}

.btn-100 {
  width:100%
}

.margined-navbar {
  padding-top:60px;
}

.field-margined-bottom {
  margin-bottom:1em;
}

.font-very-small {
  font-size: 10px;
}

.link-unstyled {
  text-decoration:none;
  color:black;
}

.text-major-action-color{
  color: $major-action-color;
}

.filter-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: darken($minor-action-color, 10%);
  opacity: 0.85;
  min-height: 100%
}

#expert-description {
  font-weight: normal;
  font-size: 14px;
  text-align: justify
}

.img-profile {
  height:120px;
  border:1px solid $major-action-color;
  border-radius:50%
}
.img-profile-big {
  height:200px;
  border:2px solid $major-action-color;
  border-radius:50%;
  margin-top:1em;
}
.img-profile-small {
  height:60px;
  border:1px solid $major-action-color;
  border-radius:50%
}
.margined-bottom-100 {
  margin-bottom:10em;
}

.small-card-white {
  background-color: white;
  padding: 8px;
  margin-bottom:1em;
}
