/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
.search_button {
  background: $major-action-color;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  &:hover {
    background: $minor-action-color;
    color: white;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px)
{
  .search_button {
    border-radius: 3px 3px 3px 3px;
  }
}

.buttonSignInUp {
  color: white;
  font-size: 20px;
  text-align: center;
  background: $major-action-color;
  border-radius: 3px;
  margin: 10px 0px;
  width: 100%;
  padding: 15px;
  &:hover {
    color: white;
    background: $minor-action-color;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}

.buttonChat {
  color: white;
  font-size: 14px;
  text-align: center;
  background: $major-action-color;
  border-radius: 3px;
  margin: 5px 0px;
  width: 100%;
  padding: 1em;
  &:hover {
    color: white;
    background: $minor-action-color;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}

.buttonFacebook {
  color: white;
  font-size: 20px;
  text-align: center;
  background: $facebook;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  &:hover {
    color: white;
    background: $facebook-hover;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}

.buttonReinitializePW {
  color: white;
  font-size: 16px;
  text-align: center;
  background: $major-action-color;
  border-radius: 3px;
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  &:hover {
    color: white;
    background: $minor-action-color;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}

.buttonCategory {
  color: white;
  font-size: 12px;
  text-align: center;
  background: $minor-action-color;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    color: white;
    background: $detail-color;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}

.buttonContactExpert {
  color: white;
  font-size: 12px;
  text-align: center;
  background: $major-action-color;
  border-radius: 3px;
  padding: 5px;
  margin-top: 1em;
  &:hover {
    color: white;
    background: $detail-color;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}
