#loge-show{
  position: relative;
  background-size: cover;
  padding-top: 0px;
  text-align: center;
  color: white;
  margin-top: 0px;
  background-attachment:fixed;
}

.text-shadowed{
  text-shadow: 1px 1px 2px darken($minor-action-color, 40%);
}

#loge-show h1{
  display:none;
}

#logo-loge{
  height:140px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid $major-action-color;
  box-shadow: 2px 2px 3px $major-action-color;
}

.loge-stat p{
  margin-bottom:0px;
}

#livefeed{
  margin-top:1em;
  font-size:12px;
  font-style:italic;
}

.font-picture{
  font-size:20px;
}


#reco {
  display: inline-block;
  position: relative;
  top: -115px;
  right: -95px;
  color: $major-action-color;
  font-size:14px;
}

#services_done {
  display: inline-block;
  position: relative;
  top: -115px;
  right: 95px;
  color: $major-action-color;
  font-size:14px;
}

#expert-name {
  margin-top:0px;
  color:#555555
}
