#booking-new {
  position: relative;
  background-size: cover;
  padding-top: 0px;
  // text-align: center;
  // text-shadow: 1px 1px 2px darken($minor-action-color, 40%);
  margin-top: 0px;
}


#txt-booking {
  padding-bottom: 4em;
  margin-top: 2em;
}
