#booking-show{
  margin-left:1em;
  margin-right:1em;
  position: relative;
  background-size: cover;
  padding-top: 3em;
  text-align: center;
  color: white;
  margin-top: 0px;
  background-attachment:fixed;
  height: 100%;
}

#chat{
  margin-left:1em;
  margin-right:1em;
  margin-bottom:8em;
  background-color:#EEEEEE;
  color:#555555;
  padding-top:1em;
  padding-bottom:1em;
  p {
    margin-left:1em;
  }
}

#new-message{
  padding:1em;
  border-bottom:1px solid $detail-color;
  background-color:#EEEEEE;
}

#chat-room{
  background-color:#EEEEEE;
  padding:1em;
  color:#555555;
  font-size:12px;
}

.user-message{
  float:left;
  background-color: rgb(250,250,250);
  padding:1em;
  border-radius:5px;
  p {
    margin-bottom:0px;
  }
  margin-bottom:1em;
}

.expert-message{
  float:right;
  background-color: $minor-action-color;
  color:white;
  padding:1em;
  border-radius:5px;
  p {
    margin-bottom:0px;
  }
  margin-bottom:1em;
}

.posted-at{
  text-align:right;
  font-size:8px;
  font-style:italic;
}

#escape{
  clear:both;
}

#mission-description{
  margin-left:1em;
  margin-right:1em;
  text-align:left;
  background-color:#EEEEEE;
  padding:1em;
  color:#555555;
  font-size:12px;
  margin-bottom:2em;
  h3{
    font-size:16px;
    margin-top:0px;
  }
  ul{
    font-weight:bold;
  }
}

#mission-update{
  text-align:left;
  padding:1em;
  color:#555555;
  font-size:12px;
}

.modal-title{

}

#modal-precision{
  text-align:left;
  color:#555555;
  font-size:12px;
  margin-bottom:2em;
}

#edit-mission{
  text-align:left;
  color:#555555;
  font-size:12px;
}

.status-asked{
  color:#009AAB;
  font-weight:bold;
}
.status-chating{
  color:#ffb400;
  font-weight:bold;
}
.status-waiting-validation{
  color:$major-action-color;
  font-weight:bold;
}
.status-waiting-service{
  color: #3fb34f;
  font-weight:bold;
}
.status-mission-done{
  color: #555555;
  font-weight:bold;
}
.status-default{
  color: #555555;
  font-weight:bold;
}

#price-info{
  font-size:13px;
  font-weight:bold;
}
